# Maternal mortality ratio compared to the female population with at least some secondary education (2005-2012)

## Setup

In [1]:
from __future__ import unicode_literals, print_function, division

In [2]:
import os

In [3]:
import numpy as np
import pandas as pd

import plotly.plotly as py
from plotly.graph_objs import *
import plotly.tools as tls

/Users/gauden/anaconda/lib/python2.7/site-packages/pytz/__init__.py:29: UserWarning: Module argparse was already imported from /Users/gauden/anaconda/lib/python2.7/argparse.pyc, but /Users/gauden/anaconda/lib/python2.7/site-packages is being added to sys.path
  from pkg_resources import resource_stream

## Specific Configuration

In [4]:
DATA_DIR = os.path.join('.', 'data')
RAW_FILE = os.path.join(DATA_DIR, 'raw_data_20150701.xlsx')

In [5]:
SHEET = 'Figure30'

PARSE_COLS = 'A:C'
SKIPROWS = 0
SKIP_FOOTER = 54-48+2

title = 'Risk of Maternal Mortality by Secondary Education'
subtitle = '(Selected countries, 2005-2012)'
source = dict(label='United Nations Development Programme (UNDP)', 
              link='http://hdr.undp.org/en/content/table-4-gender-inequality-index',
              accessed='NNN')

X_LABEL = 'Female population with at least some secondary education (% aged 25 and above), 2005-20129'
Y_LABEL = 'Maternal mortality ratio (deaths per 100,000 live births), 2010'

## Data Importation and Munging

In [6]:
DF = pd.read_excel(RAW_FILE,
                   sheetname=SHEET,
                   parse_cols=PARSE_COLS,
                   skiprows=SKIPROWS,
                   skip_footer=SKIP_FOOTER)
DF.columns = ['country', 'mortality', 'secondary']
DF

                   country  mortality   secondary
0                  Austria          4  100.000000
1                  Estonia          2  100.000000
2                  Finland          5  100.000000
3               Luxembourg         20  100.000000
4           Czech Republic          5   99.865760
5           United Kingdom         12   99.817870
6               Kazakhstan         51   99.250040
7                 Slovakia          6   99.094930
8                   Latvia         34   98.912290
9                  Hungary         21   97.900000
10                  Norway          7   97.362730
11                 Germany          7   96.285180
12                Slovenia         12   95.777330
13                 Denmark         12   95.542860
14             Switzerland          8   94.992020
15              Kyrgyzstan         71   94.518860
16                 Armenia         30   94.100000
17              Azerbaijan         43   93.711070
18   Moldova (Republic of)         41   93.648800
19                Bulgaria         11   93.010040
20                 Ukraine         32   91.500000
21                 Iceland          5   91.004629
22              Tajikistan         65   89.937060
23      Russian Federation         34   89.597530
24               Lithuania          8   89.117700
25             Netherlands          6   87.681650
26                 Belarus          4   87.001970
27                  Sweden          4   86.544110
28                 Romania         27   86.058820
29                 Croatia         17   84.989320
30                  Israel          7   84.367370
31              Montenegro          8   84.157210
32                 Albania         27   81.773170
33                 Ireland          6   80.519640
34                  Poland          5   79.416430
35                  France          8   78.012260
36                 Belgium          8   77.504840
37                  Cyprus         10   72.200000
38                   Italy          4   71.249020
39                   Malta          8   68.553540
40                   Spain          6   66.762130
41                  Greece          3   59.506990
42                  Serbia         12   58.446990
43                Portugal          8   47.708780
44  Bosnia and Herzegovina          8   44.800000
45               Macedonia         10   40.160130
46                  Turkey         20   38.982100

## Plotting