# Global Gender Gap for 47 Member States of the WHO European Region 2014

The Global Gender Gap Index presented in this Report seeks to measure one important aspect of gender equality: the relative gaps between women and men across four key areas: health, education, economy and politics.

## Setup

In [1]:
from __future__ import unicode_literals, print_function, division

In [2]:
import os

In [3]:
import pandas as pd

import plotly.plotly as py
from plotly.graph_objs import *
import plotly.tools as tls

/Users/gauden/anaconda/lib/python2.7/site-packages/pytz/__init__.py:29: UserWarning: Module argparse was already imported from /Users/gauden/anaconda/lib/python2.7/argparse.pyc, but /Users/gauden/anaconda/lib/python2.7/site-packages is being added to sys.path
  from pkg_resources import resource_stream

## Specific Configuration

In [4]:
DATA_DIR = os.path.join('.', 'data')
RAW_FILE = os.path.join(DATA_DIR, 'raw_data_20150701.xlsx')

In [5]:
SHEET = 'Figure5'

PARSE_COLS = 'A:C'
SKIPROWS = 3
SKIP_FOOTER = 61-51

title = 'Gender Gap in Selected European Countries'
subtitle = 'Global Gender Gap for 47 Member States of the WHO European Region (2014)'
source = dict(label='World Economic Forum. Global Gender Gap Report', 
              link='http://reports.weforum.org/global-gender-gap-report-2014/rankings/')

X_LABEL = 'Score (0= Inequality / 1= equality)'
Y_LABEL = ''

## Data Importation and Munging

In [6]:
DF = pd.read_excel(RAW_FILE,
                   sheetname=SHEET,
                   parse_cols=PARSE_COLS,
                   skiprows=SKIPROWS,
                   skip_footer=SKIP_FOOTER)
DF

    Rank              Country   Score
0    125               Turkey  0.6183
1    103              Armenia  0.6622
2    102           Tajikistan  0.6654
3     99                Malta  0.6707
4     96       Czech Republic  0.6737
5     95               Cyprus  0.6741
6     94           Azerbaijan  0.6753
7     93              Hungary  0.6759
8     91               Greece  0.6784
9     90             Slovakia  0.6806
10    85              Georgia  0.6855
11    83              Albania  0.6869
12    75   Russian Federation  0.6927
13    74           Montenegro  0.6934
14    72              Romania  0.6936
15    70                 MKDa  0.6943
16    69                Italy  0.6973
17    67           Kyrgyzstan  0.6974
18    65               Israel  0.7005
19    62              Estonia  0.7017
20    57               Poland  0.7051
21    56              Ukraine  0.7056
22    55              Croatia  0.7075
23    54               Serbia  0.7086
24    44            Lithuania  0.7208
25    43           Kazakhstan  0.7210
26    39             Portugal  0.7243
27    36              Austria  0.7266
28    32              Belarus  0.7300
29    29                Spain  0.7325
30    28           Luxembourg  0.7333
31    26       United Kingdom  0.7383
32    25  Republic of Moldova  0.7405
33    23             Slovenia  0.7443
34    22             Bulgaria  0.7444
35    16               France  0.7588
36    15               Latvia  0.7691
37    14          Netherlands  0.7730
38    12              Germany  0.7780
39    11          Switzerland  0.7798
40    10              Belgium  0.7809
41     8              Ireland  0.7850
42     5              Denmark  0.8025
43     4               Sweden  0.8165
44     3               Norway  0.8374
45     2              Finland  0.8453
46     1              Iceland  0.8594

## Plotting