# Female life expectancy at birth (2013) by estimated Gross National Income (GNI) PPP USD per capita (2011)

## Setup

In [1]:
from __future__ import unicode_literals, print_function, division

In [2]:
import os

In [3]:
import pandas as pd

import plotly.plotly as py
from plotly.graph_objs import *
import plotly.tools as tls

/Users/gauden/anaconda/lib/python2.7/site-packages/pytz/__init__.py:29: UserWarning: Module argparse was already imported from /Users/gauden/anaconda/lib/python2.7/argparse.pyc, but /Users/gauden/anaconda/lib/python2.7/site-packages is being added to sys.path
  from pkg_resources import resource_stream

## Specific Configuration

In [4]:
DATA_DIR = os.path.join('.', 'data')
RAW_FILE = os.path.join(DATA_DIR, 'raw_data_20150701.xlsx')

In [5]:
SHEET = 'Figure3'

PARSE_COLS = 'A:C'
SKIPROWS = 0
SKIP_FOOTER = 107-48

title = 'Female Life Expectancy by Gross National Income'
subtitle = 'Female life expectancy at birth (2013) by estimated GNI PPP USD per capita (2011)'
source = dict(label='United Nations Development Programme (UNDP)', 
              link='http://hdr.undp.org/en/content/table-4-gender-inequality-index')

X_LABEL = 'Female (?) GNI per capita (USD, at PPP)'
Y_LABEL = 'Female Life Expectancy (Years)'

## Data Importation and Munging

In [6]:
DF = pd.read_excel(RAW_FILE,
                   sheetname=SHEET,
                   parse_cols=PARSE_COLS,
                   skiprows=SKIPROWS,
                   skip_footer=SKIP_FOOTER)
DF

                   Country  Female GNI per capita  LE Female
0               Tajikistan            1939.369363     70.814
1               Kyrgyzstan            2228.212147     71.874
2     Republic of Moldova             4196.146309     72.822
3               Uzbekistan            3579.208662     71.668
4                  Georgia            4231.408639     77.796
5                  Armenia            5485.753913     77.974
6                  Ukraine            6450.009422     74.368
7   Bosnia and Herzegovina            6380.789765     78.888
8                  Albania            6703.913268     80.614
9                     MKDa            7912.830692     77.539
10            Turkmenistan            7713.887291     69.764
11                Bulgaria           12538.539656     77.261
12              Azerbaijan           10968.379021     73.900
13                 Belarus           12655.481011     75.817
14                 Romania           12005.391235     77.493
15                  Turkey            8812.743323     78.685
16                 Croatia           15777.497601     80.366
17                  Latvia           18624.333544     77.510
18              Kazakhstan           14369.382876     72.343
19                  Poland           16462.344826     80.539
20                 Hungary           17233.000951     78.619
21      Russian Federation           18228.075680     74.428
22               Lithuania           19587.698956     78.156
23                 Estonia           19409.700421     79.644
24                Portugal           17846.052239     82.877
25                  Greece           17790.915815     83.082
26                Slovakia           19450.418083     79.215
27          Czech Republic           16233.249157     80.727
28                Slovenia           21762.495362     82.828
29                   Malta           18832.338369     82.041
30                  Cyprus           19787.323376     81.849
31                  Israel           24636.442073     83.557
32                   Spain           23487.277632     85.336
33                   Italy           22302.913915     84.978
34          United Kingdom           27588.643938     82.471
35                  France           29580.160423     85.199
36                 Finland           32122.638027     83.691
37                 Iceland           27612.169390     83.870
38                 Belgium           30213.119615     83.063
39                 Denmark           37105.937025     81.513
40                  Sweden           38070.539332     83.863
41                 Germany           33027.907822     83.141
42             Netherlands           34496.922522     82.914
43                 Ireland           23871.618750     82.850
44                 Austria           25169.508077     83.609
45             Switzerland           42561.100446     84.934
46                  Norway           56993.883005     83.588
47              Luxembourg           41351.293179     83.029

## Plotting