# Labour Force Participation

## Setup

In [1]:
from __future__ import unicode_literals, print_function, division

In [2]:
import os

In [3]:
import pandas as pd

import plotly.plotly as py
from plotly.graph_objs import *
import plotly.tools as tls

/Users/gauden/anaconda/lib/python2.7/site-packages/pytz/__init__.py:29: UserWarning: Module argparse was already imported from /Users/gauden/anaconda/lib/python2.7/argparse.pyc, but /Users/gauden/anaconda/lib/python2.7/site-packages is being added to sys.path
  from pkg_resources import resource_stream

## Specific Configuration

In [4]:
DATA_DIR = os.path.join('.', 'data')
RAW_FILE = os.path.join(DATA_DIR, 'raw_data_20150701.xlsx')

In [5]:
SHEET = 'Figure8'

PARSE_COLS = 'A:C'
SKIPROWS = 3
SKIP_FOOTER = 61-52

title = 'Labour Force Participation'
subtitle = 'Percentage aged 15 and above, males and females (2012)'
source = dict(label='United Nations Development Programme (UNDP)', 
              link='http://hdr.undp.org/en/data')

X_LABEL = 'Labour Force Participation rate (% aged 15 and above), 2012'
Y_LABEL = 'United Nations Development Programme (UNDP)'

## Data Importation and Munging

In [6]:
DF = pd.read_excel(RAW_FILE,
                   sheetname=SHEET,
                   parse_cols=PARSE_COLS,
                   skiprows=SKIPROWS,
                   skip_footer=SKIP_FOOTER)
DF.columns = ['country', 'female', 'male']
DF

                                      country     female       male
0                                      Turkey  29.400000  70.800003
1                      Bosnia and Herzegovina  34.099998  57.200001
2                       Moldova (Republic of)  37.000000  43.299999
3                                       Malta  38.000000  66.500000
4                                       Italy  39.400002  59.400002
5   The former Yugoslav Republic of Macedonia  42.900002  67.300003
6                                      Greece  44.200001  62.599998
7                                     Hungary  44.700001  59.900002
8                                     Croatia  44.799999  58.500000
9                                     Albania  45.000000  65.400002
10                               Turkmenistan  46.700001  76.500000
11                                    Belgium  46.900002  59.400002
12                                   Bulgaria  47.799999  58.799999
13                                 Uzbekistan  47.900002  75.199997
14                                    Romania  48.500000  64.699997
15                                     Poland  48.900002  64.800003
16                                    Belarus  49.900002  62.700001
17                             Czech Republic  50.099998  67.800003
18                                 Luxembourg  50.700001  64.900002
19                                     France  50.900002  61.799999
20                                   Slovakia  51.000000  68.699997
21                                    Armenia  51.599998  73.400002
22                                   Slovenia  52.299999  63.500000
23                                      Spain  52.599998  66.500000
24                                    Ireland  52.700001  67.900002
25                                    Ukraine  53.000000  66.599998
26                                    Germany  53.500000  66.400002
27                                     Latvia  54.500000  67.099998
28                                    Austria  54.599998  67.699997
29                                   Portugal  55.400002  67.199997
30                             United Kingdom  55.700001  68.800003
31                                 Kyrgyzstan  55.700001  79.000000
32                                  Lithuania  55.799999  66.300003
33                                     Cyprus  55.799999  70.800003
34                                    Finland  56.000000  64.300003
35                                    Estonia  56.000000  68.699997
36                                    Georgia  56.200001  74.699997
37                         Russian Federation  57.000000  71.400002
38                                     Israel  58.099998  69.500000
39                                 Tajikistan  58.700001  76.900002
40                                    Denmark  59.099998  67.500000
41                                     Sweden  60.200001  68.099998
42                                Switzerland  61.200001  75.300003
43                                     Norway  61.500000  69.500000
44                                 Azerbaijan  62.500000  68.900002
45                                 Kazakhstan  67.500000  77.500000
46                                    Iceland  70.599998  77.300003
47                                Netherlands  79.900002  87.300003

## Plotting