# Justification of Wife-Beating Among Adolescents

## Setup

In [1]:
from __future__ import unicode_literals, print_function, division

In [2]:
import os

In [3]:
import numpy as np
import pandas as pd

import plotly.plotly as py
from plotly.graph_objs import *
import plotly.tools as tls

/Users/gauden/anaconda/lib/python2.7/site-packages/pytz/__init__.py:29: UserWarning: Module argparse was already imported from /Users/gauden/anaconda/lib/python2.7/argparse.pyc, but /Users/gauden/anaconda/lib/python2.7/site-packages is being added to sys.path
  from pkg_resources import resource_stream

## Specific Configuration

In [4]:
DATA_DIR = os.path.join('.', 'data')
RAW_FILE = os.path.join(DATA_DIR, 'raw_data_20150701.xlsx')

## Notes

Justification of wife-beating among adolescents – The percentage of boys and girls aged 15–19 who consider a husband to be justified in hitting or beating his wife for at least one of the specified reasons: if his wife burns the food, argues with him, goes out without telling him, neglects the children or refuses sexual relations. Data on male attitudes not available for Georgia, Montenegro, Tajikistan, TFYR of Macedonia and Turkey most likely because the question is not asked of males. 

Data refer to the most recent year available during the period specified in the column heading. Source: Unicef, http://www.unicef.org/sowc2011/fullreport.php [web site]. (http://www.unicef.org/sowc2011/fullreport.php, accessed 31 May 2015).

In [5]:
SHEET = 'Figure22'

PARSE_COLS = 'A,C,E'
SKIPROWS = 2
SKIP_FOOTER = 35-13+1

title = 'Justification of Wife-Beating Among Adolescents'
subtitle = '(Percentage of girls and boys aged 15-19 years justifying wife-beating, 2005-2013)'
source = dict(label='UNICEF', 
              link='http://www.unicef.org/sowc2011/fullreport.php',
              accessed='31 May 2015')

X_LABEL = 'Percent aged 15-19 yrs justifying wife beating'
Y_LABEL = ''

## Data Importation and Munging

In [6]:
DF = pd.read_excel(RAW_FILE,
                   sheetname=SHEET,
                   parse_cols=PARSE_COLS,
                   skiprows=SKIPROWS,
                   skip_footer=SKIP_FOOTER)
DF.replace(u'–', np.NaN, inplace=True)
DF

/Users/gauden/anaconda/lib/python2.7/site-packages/pandas/core/common.py:495: UnicodeWarning:

Unicode equal comparison failed to convert both arguments to Unicode - interpreting them as being unequal

                   Country  male  female
0                  Albania  36.6    23.8
1                  Armenia  21.3     7.8
2               Azerbaijan  63.1    39.0
3                  Belarus   2.6     2.8
4   Bosnia and Herzegovina   5.0     1.3
5                  Georgia   NaN     4.9
6               Kazakhstan  13.5     9.4
7               Montenegro   NaN     6.3
8      Republic of Moldova  14.2    12.6
9                   Serbia   5.6     2.4
10              Tajikistan   NaN    46.5
11                    MKDb   NaN    13.7
12                  Turkey   NaN    29.6
13                 Ukraine   1.6     2.2
14              Uzbekistan  62.8    63.0

## Plotting