# Correlation between Schooling and Ado Pregnancy

## Setup

In [1]:
from __future__ import unicode_literals, print_function, division

In [2]:
import os

In [3]:
import pandas as pd

import plotly.plotly as py
from plotly.graph_objs import *
import plotly.tools as tls

/Users/gauden/anaconda/lib/python2.7/site-packages/pytz/__init__.py:29: UserWarning: Module argparse was already imported from /Users/gauden/anaconda/lib/python2.7/argparse.pyc, but /Users/gauden/anaconda/lib/python2.7/site-packages is being added to sys.path
  from pkg_resources import resource_stream

In [4]:
import plot_constants as pc

## Specific Configuration

In [5]:
DATA_DIR = os.path.join('.', 'data')
RAW_FILE = os.path.join(DATA_DIR, 'raw_data_20150701.xlsx')

In [6]:
SHEET = 'Figure21'

PARSE_COLS = 'A:C'
SKIPROWS = 0
SKIP_FOOTER = 52-48

title = 'Correlation between Schooling and Adolescent Pregnancy'
subtitle = 'Adolescent birth rate by Mean Years of Schooling'
source = dict(label='United Nations Development Programme (UNDP)', 
              link='http://hdr.undp.org/en/content/table-4-gender-inequality-index',
              accessed='NNN')

X_LABEL = 'Mean years of schooling (female, 2002-2012)'
Y_LABEL = 'Births per 1,000 women aged 15-19 (2010/2015)'

## Data Importation and Munging

In [7]:
DF = pd.read_excel(RAW_FILE,
                   sheetname=SHEET,
                   parse_cols=PARSE_COLS,
                   skiprows=SKIPROWS,
                   skip_footer=SKIP_FOOTER)
DF.columns = ['Country', 'Schooling', 'Birthrate']
DF

                   Country  Schooling  Birthrate
0                   Turkey   6.380445     30.923
1   Bosnia and Herzegovina   7.240337     15.108
2                     MKDa   7.876328     18.256
3                 Portugal   7.999779     12.573
4                  Austria   8.880000      4.126
5                  Albania   9.050693     15.297
6                   Serbia   9.200000     16.872
7               Kyrgyzstan   9.270000     29.264
8                    Spain   9.470815     10.624
9                    Malta   9.502173     18.193
10    Republic of Moldova    9.590000     29.268
11                   Italy   9.667353      3.957
12                  Greece   9.917760     11.859
13              Montenegro   9.945669     15.200
14              Tajikistan   9.980000     42.812
15              Kazakhstan  10.240000     29.946
16                 Finland  10.330000      9.211
17                 Romania  10.409915     30.955
18                 Belgium  10.470000      6.709
19              Azerbaijan  10.497194     40.000
20                 Croatia  10.499284     12.736
21                Bulgaria  10.586808     35.857
22                  Cyprus  10.749328      5.473
23                 Iceland  10.760000     11.488
24                 Armenia  10.800000     27.118
25                  France  10.898318      5.736
26              Luxembourg  10.922258      8.349
27                 Hungary  11.206840     12.127
28                 Ukraine  11.220000     25.671
29                 Belarus  11.406166     20.599
30             Switzerland  11.452783      1.900
31                  Latvia  11.467931     13.522
32                Slovakia  11.590000     15.872
33             Netherlands  11.612559      6.165
34      Russian Federation  11.680000     25.727
35                 Ireland  11.700000      8.236
36                  Sweden  11.790000      6.528
37                Slovenia  11.831513      0.617
38                 Denmark  11.877566      5.101
39                  Poland  11.943169     12.156
40          Czech Republic  12.140000      4.906
41                 Estonia  12.280000     16.779
42               Lithuania  12.349048     10.612
43                 Germany  12.587280      3.795
44                  Israel  12.628894      7.819
45                  Norway  12.680000      7.834
46          United Kingdom  12.820068     25.758

## Plotting

In [8]:
plot_height = pc.PLOT_HEIGHT
plot_width = pc.PLOT_WIDTH
filename = 'vaw/fig_11'

trace = Scatter(
    x=DF.Schooling,
    y=DF.Birthrate,
    mode='markers+text',
    text=DF.Country,
    textposition='top center',
    textfont=Font(
        family='Arial',
    ),
    marker=Marker(color=pc.NEUTRAL_FILL,
                  line=Line(color=pc.NEUTRAL_LINE,
                            width=1,
                           ),
                  symbol='circle',
                  size=12,)
)

data = Data([trace])

layout = Layout(
    title = '<b>{}</b><br>{}'.format(title, subtitle),
    autosize=False,
    width=1000,
    height=plot_height,
    hovermode='closest',
    margin=Margin(
        l=120,
        r=120,
        pad=0
    ),
    xaxis=XAxis(title=X_LABEL),
    yaxis=YAxis(dict(zeroline=False), title=Y_LABEL),
    annotations=Annotations([
        Annotation(
            x=0.5,
            y=-0.1,
            xref='paper',
            yref='paper',
            text='Source: <a href="{}">{}</a>'.format(source['link'],source['label']),
            align='center',
            showarrow=False
        )
    ]),
)

fig = Figure(data=data, layout=layout)
py.iplot(fig, filename=filename, height=plot_height)