In [1]:
from __future__ import unicode_literals, print_function, division

In [2]:
import os

In [3]:
import pandas as pd

import plotly.plotly as py
from plotly.graph_objs import *
import plotly.tools as tls

/Users/gauden/anaconda/lib/python2.7/site-packages/pytz/__init__.py:29: UserWarning: Module argparse was already imported from /Users/gauden/anaconda/lib/python2.7/argparse.pyc, but /Users/gauden/anaconda/lib/python2.7/site-packages is being added to sys.path
  from pkg_resources import resource_stream

In [4]:
import plot_constants as pc

In [5]:
DATA_DIR = os.path.join('.', 'data')
RAW_FILE = os.path.join(DATA_DIR, 'raw_data_20150701.xlsx')
SHEET = 'Figure 2'

In [6]:
title = 'Beyond the Mortality Advantage'
subtitle = 'Healthy life at birth and number of years spent in ill-health for women (2012)'
source = dict(label='WHO Global Health Observatory', 
              link='http://apps.who.int/gho/data/node.main.3?lang=en')

In [7]:
DF = pd.read_excel(RAW_FILE, sheetname=SHEET, parse_cols='A,D:F', skiprows=4, skip_footer=19)
pc.clean_mkd(DF, 'Country')
DF

,Country code,Country,Healthy life expectancy at birth,Years in ill health
0,TKM,Turkmenistan,59,8
1,TJK,Tajikistan,60,9
2,UZB,Uzbekistan,62,10
3,KGZ,Kyrgyzstan,63,10
4,KAZ,Kazakhstan,64,8
5,AZE,Azerbaijan,65,10
6,ALB,Albania,66,9
7,ARM,Armenia,66,9
8,MDA,Republic of Moldova,66,9
9,RUS,Russian Federation,66,9
10,MNE,Montenegro,67,11
11,SRB,Serbia,67,10
12,TUR,Turkey,67,11
13,UKR,Ukraine,67,9
14,BLR,Belarus,68,10
15,BGR,Bulgaria,68,10
16,GEO,Georgia,68,10
17,LVA,Latvia,68,11
18,MKD,MKD ¶,68,10
19,HUN,Hungary,69,10
20,ROU,Romania,69,9
21,BIH,Bosnia and Herzegovina,70,10
22,HRV,Croatia,70,11
23,LTU,Lithuania,70,10
24,SVK,Slovakia,70,10
25,CZE,Czech Republic,71,10
26,EST,Estonia,71,10
27,POL,Poland,71,10
28,DNK,Denmark,72,10
29,MLT,Malta,72,11
30,NLD,Netherlands,72,11
31,NOR,Norway,72,12
32,GBR,United Kingdom,72,11
33,AUT,Austria,73,10
34,BEL,Belgium,73,10
35,FIN,Finland,73,11
36,DEU,Germany,73,10
37,GRC,Greece,73,10
38,ISL,Iceland,73,11
39,IRL,Ireland,73,10
40,ISR,Israel,73,11
41,LUX,Luxembourg,73,11
42,PRT,Portugal,73,11
43,SMR,San Marino,73,11
44,SVN,Slovenia,73,10
45,SWE,Sweden,73,11
46,AND,Andorra,74,12
47,FRA,France,74,11
48,ITA,Italy,74,11
49,CHE,Switzerland,74,11
50,MCO,Monaco,75,11
51,ESP,Spain,75,10
52,CYP,Cyprus,76,8

In [8]:
plot_height = pc.PLOT_HEIGHT
plot_width = pc.PLOT_WIDTH / 4 * 5
filename = 'vaw/fig_01'

hle = Bar(
    y=DF.Country,
    x=DF['Healthy life expectancy at birth'],
    name='Healthy life expectancy at birth',
    orientation = 'h',
    marker = Marker(
        color = pc.BREW_DIV_4,
        line = Line(
            color = pc.BREW_DIV_5,
            width = 1,
        )
    )
)

ill = Bar(
    y=DF.Country,
    x=DF['Years in ill health'],
    name='Years in ill health',
    orientation = 'h',
    marker = Marker(
        color = pc.BREW_DIV_2,
        line = Line(
            color = pc.BREW_DIV_1,
            width = 1,
        )
    )
)

data = Data([hle, ill])

layout = Layout(
    title = '<b>{}</b><br>{}'.format(title, subtitle),
    autosize=False,
    width=plot_width,
    height=plot_height,
    barmode='stack',
    margin=Margin(
        l=200,
        r=120,
        pad=0
    ),
    xaxis=XAxis(title='Number of Years'),
    annotations=Annotations([
        Annotation(
            x=0.5,
            y=-0.1,
            xref='paper',
            yref='paper',
            text='Source: <a href="{}">{}</a>'.format(source['link'],source['label']),
            align='center',
            showarrow=False
        )
    ]),
)

fig = Figure(data=data, layout=layout)
py.iplot(fig, filename=filename, height=plot_height)

In [9]:
print(pc.check_mkd(DF, 'Country'))

¶ The former Yugoslav Republic of Macedonia (MKD is an abbreviation of the ISO).