# Gender pay gap (%) in the EU, 2013

## Setup

In [1]:
from __future__ import unicode_literals, print_function, division

In [2]:
import os

In [3]:
import pandas as pd

import plotly.plotly as py
from plotly.graph_objs import *
import plotly.tools as tls

/Users/gauden/anaconda/lib/python2.7/site-packages/pytz/__init__.py:29: UserWarning: Module argparse was already imported from /Users/gauden/anaconda/lib/python2.7/argparse.pyc, but /Users/gauden/anaconda/lib/python2.7/site-packages is being added to sys.path
  from pkg_resources import resource_stream

## Specific Configuration

In [4]:
DATA_DIR = os.path.join('.', 'data')
RAW_FILE = os.path.join(DATA_DIR, 'raw_data_20150701.xlsx')

In [5]:
SHEET = 'Figure10'

PARSE_COLS = 'A:C'
SKIPROWS = 2
SKIP_FOOTER = 42-33

title = 'Gender pay gap in the EU'
subtitle = '(Percentage, 2013. Data extracted 16 June 2015.)'
source = dict(label='Eurostat. Gender pay gap in unadjusted form.', 
              link=('http://ec.europa.eu/eurostat/tgm/table.do?',
                    'tab=table&init=1&plugin=1&language=en&pcode=tsdsc340'))

X_LABEL = 'Gender pay gap (Percentage, 2013)'
Y_LABEL = ''

## Data Importation and Munging

In [6]:
DF = pd.read_excel(RAW_FILE,
                   sheetname=SHEET,
                   parse_cols=PARSE_COLS,
                   skiprows=SKIPROWS,
                   skip_footer=SKIP_FOOTER)
DF.columns = ['country', '2013', 'note']
DF

              country  2013 note
0   EU (27 countries)  16.4  (p)
1             Belgium   9.8  NaN
2            Bulgaria  13.5  NaN
3      Czech Republic  22.1  NaN
4             Denmark  16.4  NaN
5             Germany  21.6  (p)
6             Estonia  29.9  NaN
7               Spain  19.3  (p)
8              France  15.2  (p)
9             Croatia   7.4  (p)
10              Italy   7.3  NaN
11             Cyprus  15.8  NaN
12             Latvia  14.4  NaN
13          Lithuania  13.3  NaN
14         Luxembourg   8.6  (p)
15            Hungary  18.4  NaN
16              Malta   5.1  NaN
17        Netherlands  16.0  NaN
18            Austria  23.0  NaN
19             Poland   6.4  (p)
20           Portugal  13.0  NaN
21            Romania   9.1  (e)
22           Slovenia   3.2  NaN
23           Slovakia  19.8  NaN
24            Finland  18.7  (p)
25             Sweden  15.2  NaN
26     United Kingdom  19.7  NaN
27            Iceland  20.5  NaN
28             Norway  16.0  NaN
29        Switzerland  19.3  NaN

### Notes

p=provisional  
d=definition differs (see metadata)  
e=estimated 

This represents the difference between average gross hourly earnings of male paid employees and female paid employees as a percentage of gross hourly earnings of male paid employees.  The population consists of all paid employees in enterprises with 10 employees or more.  The data for the following countries is provisional - EU-27, Germancy, Spain, France, Croatia, Luxembourg, Poland, and Finland.  The data for Romania is estimated. Source: Eurostat. Gender pay gap in unadjusted form [web site]., 2015 (http://ec.europa.eu/eurostat/tgm/graph.do?pcode=tsdsc340&language=en, accessed 16 June 2015).

## Plotting